In [57]:
import logging as lg
lg.basicConfig(filename='sqldb.log', level='INFO', format='%(asctime)s %(levelname)s %(msg)s')

In [58]:
import mysql.connector as connection
lg.info('imported mysql.connector as connection')

In [59]:
try:
    mydb=connection.connect(host=input('host: '), user=input('user: '), password=input('password:'))
    lg.info('connection created')
except Exception as e:
    lg.exception('exception occured to create connection: ',e)

host: localhost
user: root
password:password

In [60]:
try:
    query='CREATE DATABASE cardataset'
    cursor=mydb.cursor()
    cursor.execute(query)
    lg.info('database created')
except Exception as e:
    print(e)
    lg.exception('exception occured to create database: ',e)

In [61]:
try:
    query='CREATE TABLE cardataset.car(buying VARCHAR(10), maint VARCHAR(10), doors VARCHAR(10), persons VARCHAR(10), lug_boot VARCHAR(10), safety VARCHAR(10), class_values VARCHAR(10))'
    cursor=mydb.cursor()
    cursor.execute(query)
    lg.info('Table created')
except Exception as e:
    print(e)
    lg.exception('Table created')

In [62]:
try:
    cursor=mydb.cursor()
    with open('car.data', 'r') as f:
        read_data=f.readlines()
        for i in read_data:
            i=i.rstrip().split(',')
            query="INSERT INTO cardataset.car VALUES(%s, %s, %s, %s, %s, %s, %s)"
            cursor.execute(query, tuple(i))
    mydb.commit()
    lg.info('Data inserted into table successfully')
except Exception as e:
    lg.exception('exception occured to insert data into table: ',e)
    print(e)

In [63]:
try:
    query="SELECT COUNT(*) FROM cardataset.car"
    cursor=mydb.cursor()
    cursor.execute(query)
    db_len=cursor.fetchone()[0]
    if db_len==len(read_data):
        print('All data inserted!')
        lg.info('All data inserted!')
    else:
        print('length of db data not equal to length of source data')
        lg.info('length of db data not equal to length of source data')
except Exception as e:
    lg.exception('exception occured to check length of source and db data')
    print(e)

All data inserted!

In [64]:
try:
    query='SELECT buying, COUNT(*) FROM cardataset.car GROUP BY buying;'
    cursor=mydb.cursor()
    cursor.execute(query)
    for i in cursor.fetchall():
        print(i)
    lg.info('GROUP BY successfully applied!')
except Exception as e:
    lg.exception('error occured to apply GROUP BY method: ',e)
    print(e)

('vhigh', 432)
('high', 432)
('med', 432)
('low', 432)

In [65]:
try:
    query="SELECT * FROM cardataset.car WHERE doors='4' LIMIT 10"
    cursor=mydb.cursor()
    cursor.execute(query)
    for i in cursor.fetchall():
        print(i)
    lg.info('SELECTION method applied sucessfully!')
except Exception as e:
    lg.exception('exception occured to apply selection: ',e)
    print(e)

('vhigh', 'vhigh', '4', '2', 'small', 'low', 'unacc')
('vhigh', 'vhigh', '4', '2', 'small', 'med', 'unacc')
('vhigh', 'vhigh', '4', '2', 'small', 'high', 'unacc')
('vhigh', 'vhigh', '4', '2', 'med', 'low', 'unacc')
('vhigh', 'vhigh', '4', '2', 'med', 'med', 'unacc')
('vhigh', 'vhigh', '4', '2', 'med', 'high', 'unacc')
('vhigh', 'vhigh', '4', '2', 'big', 'low', 'unacc')
('vhigh', 'vhigh', '4', '2', 'big', 'med', 'unacc')
('vhigh', 'vhigh', '4', '2', 'big', 'high', 'unacc')
('vhigh', 'vhigh', '4', '4', 'small', 'low', 'unacc')

In [66]:
try:
    query="UPDATE cardataset.car SET doors='8' WHERE doors='2'"
    cursor=mydb.cursor()
    cursor.execute(query)
    lg.info('updated table successfully!')
except Exception as e:
    lg.exception('exception occured to update table')
    print(e)

In [67]:
try:
    query="DROP TABLE cardataset.car"
    cursor=mydb.cursor()
    cursor.execute(query)
    mydb.commit()
    print('Table deleted!')
    lg.info('Table dropped')
except Exception as e:
    lg.exception('exception occured to drop table')
    print(e)

Table deleted!

In [68]:
try:
    query="DROP DATABASE cardataset"
    cursor=mydb.cursor()
    cursor.execute(query)
    mydb.commit()
    print('Database deleted!')
    lg.info('Database dropped')
except Exception as e:
    lg.exception('exception occured to drop database')
    print(e)

Database deleted!